<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <%- include('../partials/header.ejs')%>
    <main>
        <%- include('../partials/sidebar.ejs')%>
        <div class="main-header">
            <p>Lista de productos</p>
        </div>
        <div class="admin-menu">
            <a href="/administrar/create">
                <div class="add-product">
                    <div class="icon-add">+</div>
                    <p>Agregar producto</p>
                </div>
            </a>
            <table>
                <thead>
                    <tr>
                        <th>Categoría</th>
                        <th>Nombre</th>
                        <th>Ver</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <% productos.forEach(categoria => { %>
                        <% const categoriaFormateada = formatearNombreCategoria(categoria.categoria); %>
                        <% categoria.productos.forEach(producto => { %>
                          <tr>
                            <td><%= categoriaFormateada  %></td>
                            <td><%= formatearNombreCategoria(producto.nombre) %></td>
                            <td><a href="/products/<%= categoria.categoria.toLowerCase() %>/<%= producto.nombre.toLowerCase() %>"><i class="fa-solid fa-eye"></i></a></td>
                            <td><a href="/administrar/<%= categoria.categoria.toLowerCase() %>/<%= producto.nombre.toLowerCase() %>/edit"><i class="fa-solid fa-pen-to-square"></i></a></td>
                            <td><a href="/administrar/delete/<%= producto.nombre %>"><i class="fa-solid fa-trash"></i></a></td>
                          </tr>
                        <% }); %>
                      <% }); %>
                </tbody>
            </table>
        </div>
    </main>
    <%- include('../partials/footer.ejs')%>
    <script>
        /*Set ancho de sidebar*/
        function openNav() {
            document.getElementById("mySidebar").style.width = "300px";
        }

        /*Set posición de sidebar*/
        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
        }

        //Obtener del menú "Categorías" y su submenú
        const categoriasMenu = document.querySelector('.menu-item');
        // const submenu = document.querySelector('.submenu');

        //Agrega un evento de clic al elemento del menú "Categorías"
        categoriasMenu.addEventListener('click', function() {
            // Alternar la clase "collapsed" en el elemento del menú "Categorías"
            categoriasMenu.classList.toggle('collapsed');
        });

        categoriasMenu.addEventListener('click', function() {
            // Alternar la clase "open" en el elemento del menú "Categorías"
            categoriasMenu.classList.toggle('open');
            });
    </script>
</body>
</html>