<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <%- include('../partials/header.ejs')%>
    <main>
        <%- include('../partials/sidebar.ejs')%>
        <div class="main-header">
            <p>Agregar un producto</p>
        </div>
        <div class="form">
            <form action="/administrar/create" method="POST" enctype="multipart/form-data">
                <div class="inputs">
                    <div class="form-group">
                    <input type="text" name="nombre" id="formProductName" placeholder="Nombre del producto" class="<%= locals.errors && errors.nombre ? 'input-error' : ''  %>" value="<%= locals.oldData ? oldData.nombre : null %>">
                    <% if (locals.errors && errors.nombre) { %>
                        <div class="text-error">
                            <%= errors.nombre.msg %>
                        </div>
                    <% } %>
                    </div>
                    <div class="form-group">
                    <input type="text" name="descripcion" id="descripcion" placeholder="Descripción del producto" class="<%= locals.errors && errors.descripcion ? 'input-error' : ''  %>" value="<%= locals.oldData ? oldData.descripcion : null %>">
                    <% if (locals.errors && errors.descripcion) { %>
                        <div class="text-error">
                            <%= errors.descripcion.msg %>
                        </div>
                    <% } %>
                    </div>
                    <div class="form-group">
                    <input type="text" id="precio" name="precio" placeholder="Precio" class="<%= locals.errors && errors.precio ? 'input-error' : ''  %>" value="<%= locals.oldData ? oldData.precio : null %>">
                    <% if (locals.errors && errors.precio) { %>
                        <div class="text-error">
                            <%= errors.precio.msg %>
                        </div>
                    <% } %>
                    </div>
                    <div class="form-group">
                    <div class="input-box">
                        <select name="categoria" id="categoria" class="<%= locals.errors && errors.categoria ? 'input-error' : ''  %>">
                            <option value="" disabled selected>- Categoría -</option>
                            <% categorias.forEach(categoria => { %>
                                <option value="<%= categoria.id %>"><%= categoria.categoria %></option>
                            <% }); %>
                        </select>
                        <% if (locals.errors && errors.categoria) { %>
                            <div class="text-error">
                                <%= errors.categoria.msg %>
                            </div>
                        <% } %>
                    </div>
                    </div>
                    <div class="form-group">
                    <div class="input-box">
                        <input type="file" id="imagen" name="imagen" placeholder="Imagen del Producto" >
                        <% if (locals.errors && errors.imagen) { %>
                            <div class="text-error">
                                <%= errors.imagen.msg %>
                            </div>
                        <% } %>
                    </div>
                    </div>
                </div>
                <div class="buttons">
                    <button type="submit">Agregar producto</button>
                    <a href="/administrar" id="volver">Volver</a>
                </div>
            </form>
        </div>
    </main>
    <%- include('../partials/footer.ejs')%>
    <script>
        /*Set ancho de sidebar*/
        function openNav() {
            document.getElementById("mySidebar").style.width = "300px";
        }

        /*Set posición de sidebar*/
        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
        }

        //Obtener del menú "Categorías" y su submenú
        const categoriasMenu = document.querySelector('.menu-item');
        // const submenu = document.querySelector('.submenu');

        //Agrega un evento de clic al elemento del menú "Categorías"
        categoriasMenu.addEventListener('click', function() {
            // Alternar la clase "collapsed" en el elemento del menú "Categorías"
            categoriasMenu.classList.toggle('collapsed');
        });

        categoriasMenu.addEventListener('click', function() {
            // Alternar la clase "open" en el elemento del menú "Categorías"
            categoriasMenu.classList.toggle('open');
            });
    </script>
    <script src="/js/addProduct-validations.js"></script>
</body>
</html>