<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <%- include('../partials/header.ejs')%>
    <main>
        <%- include('../partials/sidebar.ejs')%>
        <div class="main-header">
            <p>Editar producto</p>
        </div>
        <div class="form">
            <form action="/administrar/edit/<%= producto.nombre%>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="inputs">
                    <div class="form-group">
                        <input type="text" name="nombre" id="formProductName" placeholder="Nombre del producto" class="<%= locals.errors && errors.nombre ? 'input-error' : ''  %>" value="<%= locals.oldData ? oldData.nombre : producto.nombre%>">
                        <% if (locals.errors && errors.nombre) { %>
                            <div class="text-error">
                                <%= errors.nombre.msg %>
                            </div>
                        <% } %>
                    </div>

                    <div class="form-group">
                        <input type="text" name="descripcion" id="descripcion" placeholder="Descripción del producto" class="<%= locals.errors && errors.descripcion ? 'input-error' : ''  %>" value="<%=locals.oldData ? oldData.descripcion : producto.descripcion%>">
                        <% if (locals.errors && errors.descripcion) { %>
                            <div class="text-error">
                                <%= errors.descripcion.msg %>
                            </div>
                        <% } %>
                    </div>

                    <div class="form-group">
                        <input type="text" id="precio" name="precio" placeholder="Precio" class="<%= locals.errors && errors.precio ? 'input-error' : ''  %>" value="<%= locals.oldData ? oldData.precio : producto.precio%>" >
                        <% if (locals.errors && errors.precio) { %>
                            <div class="text-error">
                                <%= errors.precio.msg %>
                            </div>
                        <% } %>
                    </div>

                    <div class="input-box">
                        <select name="categoria">
                            <option disabled>- Categoría -</option>
                            <% categorias.forEach(categoria => { %>
                                <option value="<%= locals.oldData ? oldData.categoria : categoria.id %>" <%= producto.categoria_id === categoria.id ? 'selected' : '' %>><%= categoria.categoria %></option>
                            <% }); %>
                        </select>
                    </div>
                    <% if (locals.errors && errors.categoria) { %>
                        <div class="text-error">
                            <%= errors.categoria.msg %>
                        </div>
                    <% } %>
                    <div class="input-box">
                        <input type="hidden" name="oldImagen" value="<%= producto.imagen %>">
                        <input type="file" id="imagen" name="imagen" placeholder="Imagen del Producto">
                        <% if (locals.errors && errors.imagen) { %>
                            <div class="text-error">
                                <%= errors.imagen.msg %>
                            </div>
                        <% } %>
                    </div>
                </div>
                <div class="buttons">
                    <button type="submit">Modificar producto</button>
                    <a href="/administrar" id="volver">Volver</a>
                </div>
            </form>
        </div>
    </main>
    <%- include('../partials/footer.ejs')%>
    <script>
        /*Set ancho de sidebar*/
        function openNav() {
            document.getElementById("mySidebar").style.width = "300px";
        }

        /*Set posición de sidebar*/
        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
        }

        //Obtener del menú "Categorías" y su submenú
        const categoriasMenu = document.querySelector('.menu-item');
        // const submenu = document.querySelector('.submenu');

        //Agrega un evento de clic al elemento del menú "Categorías"
        categoriasMenu.addEventListener('click', function() {
            // Alternar la clase "collapsed" en el elemento del menú "Categorías"
            categoriasMenu.classList.toggle('collapsed');
        });

        categoriasMenu.addEventListener('click', function() {
            // Alternar la clase "open" en el elemento del menú "Categorías"
            categoriasMenu.classList.toggle('open');
            });
    </script>
    <script>
        // Variable para rastrear si se han realizado cambios en el formulario
        let cambiosRealizados = false;
    
        // Función para mostrar el modal de advertencia
        function mostrarModalAdvertencia(event) {
            // Verificar si se han realizado cambios en el formulario
            if (cambiosRealizados) {
                event.preventDefault(); // Evitar que se redirija automáticamente
                Swal.fire({
                    title: 'Cambios no guardados',
                    text: 'Si vuelves al menú, perderás los cambios realizados. ¿Estás seguro?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#9A6C6C',
                    cancelButtonColor: '#47453C',
                    confirmButtonText: 'Sí, volver sin guardar',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Si el usuario confirma, se redirige
                        window.location.href = '/administrar';
                    }
                });
            }
        }
        document.addEventListener("DOMContentLoaded", function() {
            // Obtener el enlace de volver
            const enlaceVolver = document.getElementById('volver');
            // Agregar un event listener al enlace de volver
            enlaceVolver.addEventListener('click', mostrarModalAdvertencia);

            // Agregar event listeners a los elementos del formulario para rastrear cambios
            const elementosFormulario = document.querySelectorAll('input, select');
            elementosFormulario.forEach(elemento => {
                elemento.addEventListener('input', function() {
                    cambiosRealizados = true;
                });
            });
        });
    </script>
    <script src="/js/editProduct-validations.js"></script>
</body>
</html>