<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOHO macramé | Productos </title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/categories.css">
</head>
<body>
    <%- include('./partials/header.ejs')%>
    <main>
        <%- include('./partials/sidebar.ejs')%>
        <div class="main-header">
            <p>Todos los productos</p>
        </div>
        <div class="form-order">
            <form class="orderProducts" method="GET" action="/products">
                <section>
                    <label for="sort">Ordenar por:</label>
                    <select name="sort" id="sort">
                        <option value="" disabled selected>- Seleccionar -</option>
                        <option value="nombre">Nombre</option>
                        <option value="precio">Precio</option>
                    </select>
                </section>

                <section>
                    <label for="order">Orden:</label>
                <select name="order" id="order">
                    <option value="" disabled selected>- Seleccionar -</option>
                    <option value="asc">Ascendente</option>
                    <option value="desc">Descendente</option>
                </select>
                </section>
                <button type="submit">Ordenar</button>
            </form>
        </div>
        <div class="listProduct">
            <div class="productos">
                <% productos.forEach(producto=> { %>
                    <div class="product-position">
                        <a href="/products/<%= formatearEspacio(producto.categoria.categoria) %>/<%= formatearEspacio(producto.nombre) %>">
                            <div class="card-producto">
                                <div class="photo">
                                    <img src="/img/<%= formatearEspacio(producto.imagen) %>" alt="<%= producto.nombre %>">
                                </div>
                                <div class="info-producto">
                                    <p class="nombre-producto"><%= producto.nombre.toUpperCase() %></p>
                                    <p class="precio-producto">$<%= producto.precio %></p>
                                </div>
                            </div>
                        </a>
                        <div class="add-to-cart">
                            <button data-id="<%= producto.id %>" data-nombre="<%= producto.nombre %>" data-precio="<%= producto.precio %>" data-imagen="<%= producto.imagen %>" class="addToCartBtn addCart">Agregar al carrito</button>
                        </div>
                        <div class="notificacion" id="notificacion"></div>
                    </div>
                <% }); %>
            </div>
        </div>
        <div class="pagination">
            <a class="paginationBtn <%= (currentPage === 1) ? 'disabled' : '' %>" href="/products?page=<%= currentPage - 1 %>&sort=<%= req.query.sort %>&order=<%= req.query.order %>">Anterior</a>
            <span>
                Página <%= currentPage %> de <%= totalPages %>
            </span>
            <a class="paginationBtn <%= (currentPage === totalPages) ? 'disabled' : '' %>" href="/products?page=<%= currentPage + 1 %>&sort=<%= req.query.sort %>&order=<%= req.query.order %>">Siguiente</a>
        </div>
    </main>
    <%- include('./partials/footer.ejs')%>
</body>
</html>