<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/categories.css">
</head>
<body>
    <%- include('./partials/header.ejs')%>
    <main>
        <%- include('./partials/sidebar.ejs')%>
        <div class="main-header">
            <p><%= categoria %></p>
        </div>
        <div class="productos">
            <% productos.forEach(producto => { %>
                <a href="/products/<%= categoriaEncontrada.categoria %>/<%= producto.nombre.toLowerCase() %>">
                    <div class="card-producto">
                        <div class="photo">
                            <img src="/img/<%= categoriaEncontrada.categoria %>/<%= producto.imagen %>" alt="<%= producto.nombre %>">
                        </div>
                        <div class="info-producto">
                            <p class="nombre-producto">
                                <%= producto.nombre.toUpperCase() %>
                            </p>
                            <p class="precio-producto">$<%= producto.precio %>
                            </p>
                        </div>
                    </div>
                </a>
              <% }); %>
        </div>
    </main>
    <%- include('./partials/footer.ejs')%>
    <script>
        /*Set ancho de sidebar*/
        function openNav() {
            document.getElementById("mySidebar").style.width = "300px";
        }

        /*Set posición de sidebar*/
        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
        }

        //Obtener del menú "Categorías" y su submenú
        const categoriasMenu = document.querySelector('.menu-item');
        // const submenu = document.querySelector('.submenu');

        //Agrega un evento de clic al elemento del menú "Categorías"
        categoriasMenu.addEventListener('click', function() {
            // Alternar la clase "collapsed" en el elemento del menú "Categorías"
            categoriasMenu.classList.toggle('collapsed');
        });

        categoriasMenu.addEventListener('click', function() {
            // Alternar la clase "open" en el elemento del menú "Categorías"
            categoriasMenu.classList.toggle('open');
            });
    </script>
</body>
</html>