<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bisne macrame | HOME</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/login.css">
        <link rel="stylesheet" href="/css/productDetail.css">
    </head>
    <body>
        <%- include('./partials/header.ejs')%>
        <main>
            <%- include('./partials/sidebar.ejs')%>
            <section class="main-header">
                <p><%= categoria %></p>
            </section>
            <div class="cont">
                <section class="photos">
                    <div class="caja">
                        <img src="/img/<%= formatearEspacio(categoria) %>/<%= formatearEspacio(producto.imagen) %>" alt="">
                    </div>
                </section>
                <section class="description">
                    <h2><%= producto.nombre.toUpperCase() %></h2>
                    <div class="productDescription">
                        <p><%= producto.descripcion %></p>
                    </div>
                    <div class="funcionalidades">
                        <section>
                            <h2>$<%= producto.precio %></h2>
                            <div class="cantidadProductos">
                                <button id="menos">-</button>
                                <input type="number" value="1">
                                <button id="mas">+</button>
                            </div>
                        </section>
                        <button id="add">AGREGAR AL CARRITO</button>
                    </div>
                </section>
            </div>
        </main>
        <%- include('./partials/footer.ejs')%>
        <script>
            /*Set ancho de sidebar*/
            function openNav() {
                document.getElementById("mySidebar").style.width = "300px";
                document.getElementByTagName("body").style.marginLeft = "300px";
            }

            /*Set posición de sidebar*/
            function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            }

            //Obtener del menú "Categorías" y su submenú
            const categoriasMenu = document.querySelector('.menu-item');
            const submenu = document.querySelector('.submenu');

            //Agrega un evento de clic al elemento del menú "Categorías"
            categoriasMenu.addEventListener('click', function() {
                // Alternar la clase "collapsed" en el elemento del menú "Categorías"
                categoriasMenu.classList.toggle('collapsed');
                // Mostrar u ocultar el submenú
                submenu.style.display = submenu.style.display === 'none' ? 'block' : 'none';
            });

            categoriasMenu.addEventListener('click', function() {
                // Alternar la clase "open" en el elemento del menú "Categorías"
                categoriasMenu.classList.toggle('open');
                submenu.style.display = categoriasMenu.classList.contains('open') ? 'block' : 'none';
                });
        </script>
    </body>
</html>