<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bisne macrame | HOME</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/login.css">
        <link rel="stylesheet" href="/css/productDetail.css">
    </head>
    <body>
        <%- include('./partials/header.ejs')%>
        <main>
            <%- include('./partials/sidebar.ejs')%>
            <section class="main-header">
                <p><%= categoria %></p>
            </section>
            <div class="cont">
                <section class="photos">
                    <div class="caja">
                        <img src="/img/<%= formatearEspacio(producto.imagen) %>" alt="">
                    </div>
                </section>
                <section class="description">
                    <h2><%= producto.nombre.toUpperCase() %></h2>
                    <div class="productDescription">
                        <p><%= producto.descripcion %></p>
                    </div>
                    <div class="funcionalidades">
                        <section>
                            <h2>$<%= producto.precio %></h2>
                            <h2><%= producto.tamanio ? "Tamaño: " + producto.tamanio.diametro + " cm": ''  %></h2>
                            <div class="cantidadProductos">
                                <button id="menos">-</button>
                                <input id="cantidad" type="number" value="1">
                                <button id="mas">+</button>
                            </div>
                        </section>
                        <button id="add">AGREGAR AL CARRITO</button>
                    </div>
                </section>
            </div>
        </main>
        <%- include('./partials/footer.ejs')%>
        <script>
            const menosButton = document.getElementById("menos");
            const masButton = document.getElementById("mas");
            const cantidadInput = document.getElementById("cantidad");

            masButton.addEventListener("click", function() {
                let cantidad = parseInt(cantidadInput.value);
                cantidadInput.value = cantidad + 1;
                menosButton.disabled = false;
            });

            menosButton.addEventListener("click", function() {
                let cantidad = parseInt(cantidadInput.value);

                // Decrementa la cantidad solo si es mayor que 1
                if (cantidad > 1) {
                    cantidadInput.value = cantidad - 1;
                }

                // Deshabilita el botón de decremento si la cantidad es 1
                if (cantidadInput.value == 1) {
                    menosButton.disabled = true;
                }
            });
        </script>
    </body>
</html>