<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bisne macrame | Edit profile</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.all.min.js"></script>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/login.css">
        <link rel="stylesheet" href="/css/signup.css">
        <link rel="stylesheet" href="/css/profile.css">
    </head>
    <body>
        <%- include('../partials/header.ejs')%>
        <main>
            <%- include('../partials/sidebar.ejs')%>
            <div class="main-header">
                <p>Modificar información</p>
            </div>
            <div class="form">
                <form action="/users/profile/edit?_method=PUT" method="POST">
                    <div class="inputs">
                        <div class="input-box">
                            <input type="text" name="name" id="formName" placeholder="Nombre" class="<%= locals.errors && errors.name ? 'input-error' : ''  %>" value="<%= user.nombre %>">
                            <% if (locals.errors && errors.name) { %>
                                <div class="text-error">
                                    <%= errors.name.msg %>
                                </div>
                            <% } %>
                        </div>
                        <div class="input-box">
                            <input type="text" name="lastName" id="formLastName" placeholder="Apellido" class="<%= locals.errors && errors.lastName ? 'input-error' : null  %>" value="<%= user.apellido %>">
                            <% if (locals.errors && errors.lastName) { %>
                                <div class="text-error">
                                    <%= errors.lastName.msg %>
                                </div>
                            <% } %>
                        </div>
                        <div class="input-box">
                            <input type="email" id="email" name="email" placeholder="Email" class="<%= locals.errors && errors.email ? 'input-error' : ''  %>" value="<%= user.email %>">
                            <% if (locals.errors && errors.email) { %>
                                <div class="text-error">
                                    <%= errors.email.msg %>
                                </div>
                            <% } %>
                        </div>
                        <div class="input-box">
                            <input type="text" name="phoneNumber" id="formNumber" placeholder="Nro. de teléfono" class="<%= locals.errors && errors.phoneNumber ? 'input-error' : ''  %>" value="<%= user.telefono %>">
                            <% if (locals.errors && errors.phoneNumber) { %>
                                <div class="text-error">
                                    <%= errors.phoneNumber.msg %>
                                </div>
                            <% } %>
                        </div>
                        <div class="input-box">
                            <input type="text" name="city" id="city" placeholder="Ciudad" class="<%= locals.errors && errors.city ? 'input-error' : ''  %>" value="<%= user.ciudad %>">
                            <% if (locals.errors && errors.city) { %>
                                <div class="text-error">
                                    <%= errors.city.msg %>
                                </div>
                            <% } %>
                        </div>
                        <div class="input-box">
                            <input type="text" name="address" id="address" placeholder="Dirección" class="<%= locals.errors && errors.address ? 'input-error' : ''  %>" value="<%= user.direccion %>">
                            <% if (locals.errors && errors.address) { %>
                                <div class="text-error">
                                    <%= errors.address.msg %>
                                </div>
                            <% } %>
                        </div>
                    </div>
                    <button type="submit">Actualizar datos</button>
                    <!-- <a href="/users/profile"><button>Volver</button></a> -->
                </form>
                <a href="/users/profile" id="volver"><button>Volver</button></a>
                <form class="form" action="/users/profile/edit-password?_method=PUT" method="POST">
                    <p id="change-password">Quieres cambiar la contrseña?</p>
                    <div class="input-box">
                        <input type="password" name="password" id="oldPassword" placeholder="Contraseña actual" class="<%= locals.errors && errors.password ? 'input-error' : null  %>" >
                        <% if (locals.errors && errors.password) { %>
                            <div class="text-error">
                                <%= errors.password.msg %>
                            </div>
                        <% } %>
                    </div>
                    <div class="input-box">
                        <input type="password" name="newPassword" id="newPassword" placeholder="Nueva contraseña" class="<%= locals.errors && errors.passwordRepeat ? 'input-error' : ''  %>" >
                        <% if (locals.errors && errors.newPassword) { %>
                            <div class="text-error">
                                <%= errors.newPassword.msg %>
                            </div>
                        <% } %>
                    </div>
                    <div class="input-box">
                        <input type="password" name="passwordRepeat" id="passwordRepeat" placeholder="Repetir nueva contraseña" class="<%= locals.errors && errors.passwordRepeat ? 'input-error' : ''  %>" >
                        <% if (locals.errors && errors.passwordRepeat) { %>
                            <div class="text-error">
                                <%= errors.passwordRepeat.msg %>
                            </div>
                        <% } %>
                    </div>
                    <button type="submit">Cambiar contraseña</button>
                </form>
                <!-- <form class="form" id="deleteForm" action="/users/profile/delete?_method=DELETE" method="POST"> -->
                <form class="form" id="deleteForm" method="POST">
                    <button type="submit" id="deleteAccountBtn" style="background-color: red" >Eliminar cuenta</button>
                </form>
            </div>
        </main>
        <%- include('../partials/footer.ejs')%>
        <script>
            // Variable para rastrear si se han realizado cambios en el formulario
            let cambiosRealizados = false;

            // Función para mostrar el modal de advertencia
            function mostrarModalAdvertencia(event) {
                // Verificar si se han realizado cambios en el formulario
                if (cambiosRealizados) {
                    event.preventDefault(); // Evitar que se redirija automáticamente
                    Swal.fire({
                        title: 'Cambios no guardados',
                        text: 'Si vuelves al menú, perderás los cambios realizados. ¿Estás seguro?',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#9A6C6C',
                        cancelButtonColor: '#47453C',
                        confirmButtonText: 'Sí, volver sin guardar',
                        cancelButtonText: 'Cancelar'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            // Si el usuario confirma, se redirige
                            window.location.href = '/users/profile';
                        }
                    });
                }
            }
            document.addEventListener("DOMContentLoaded", function() {
                // Obtener el enlace de volver
                const enlaceVolver = document.getElementById('volver');
                // Agregar un event listener al enlace de volver
                enlaceVolver.addEventListener('click', mostrarModalAdvertencia);

                // Agregar event listeners a los elementos del formulario para rastrear cambios
                const elementosFormulario = document.querySelectorAll('input, select');
                elementosFormulario.forEach(elemento => {
                    elemento.addEventListener('input', function() {
                        cambiosRealizados = true;
                    });
                });
            });

        </script>
        <script>
            document.getElementById("deleteAccountBtn").addEventListener("click", function (e) {
                e.preventDefault();
                Swal.fire({
                    title: '¿Estás seguro?',
                    text: 'Esta acción es irreversible. ¿Estás seguro de que quieres eliminar tu cuenta?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#9A6C6C',
                    cancelButtonColor: '#47453C',
                    confirmButtonText: 'Sí, eliminar cuenta',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Cambiar el atributo action del formulario
                        document.getElementById("deleteForm").action = "/users/profile/delete?_method=DELETE";

                        // Enviar el formulario
                        document.getElementById("deleteForm").submit();

                        Swal.fire({
                            title: 'Cuenta eliminada con éxito',
                            text: 'Serás redirigido al inicio',
                            icon: 'success',
                            confirmButtonColor: '#9A6C6C',
                            timer: 5000
                        }).then(() => {
                            // Redirigir al usuario a la página de inicio después de hacer clic en OK
                            window.location.href = '/';
                        });
                    }
                });
            });

            document.getElementById("deleteForm").addEventListener("submit", function(event) {
                event.preventDefault(); // Evitar que el formulario se envíe automáticamente

                fetch(this.action, {
                    method: 'DELETE'
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        Swal.fire({
                            title: 'Cuenta eliminada con éxito',
                            icon: 'success',
                            showConfirmButton: false,
                            confirmButtonColor: '#9A6C6C',
                            html: '<button id="backBtn" class="swal2-confirm swal2-styled">Volver a inicio</button>'
                        });

                        // Agregar un evento click al botón "Volver a inicio"
                        document.getElementById("backBtn").addEventListener("click", function() {
                            window.location.href = '/'; // Redirigir al usuario a la página de inicio
                        });
                    } else {
                        Swal.fire('Error', 'No se pudo eliminar la cuenta', 'error');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    Swal.fire('Error', 'Hubo un problema al eliminar la cuenta', 'error');
                });
            });
        </script>
        <script src="/js/editProfile-validations.js"></script>
    </body>
</html>