<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bisne macrame | PERFIL</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
    <%- include('../partials/header.ejs')%>
    <main>
        <%- include('../partials/sidebar.ejs')%>
        <div class="main-header">
            <p>Mi perfil</p>
        </div>
        <div class="profile-box">
            <section class="profile-section">
                <div class="profile-banner">
                    <i class="fa-solid fa-user"></i>
                    <p id="datos">Mis datos</p>
                    <a href="profile/edit" id="editar"><p>editar</p></a>
                </div>
                <div class="profile-content">
                    <p><span>Nombre |</span><%= user.nombre %></p>
                    <p><span>Apellido |</span><%= user.apellido %></p>
                    <p><span>Email |</span><%= user.email %></p>
                    <p><span>Teléfono |</span><%= user.telefono %></p>
                    <p><span>Ciudad |</span><%= user.ciudad %></p>
                    <p><span>Dirección |</span><%= user.direccion %></p>
                    <p><span>Contraseña |</span>******</p>
                </div>
            </section>
            <section class="profile-section">
                <div class="profile-banner">
                    <i class="fa-solid fa-bag-shopping"></i>
                    <p id="datos">Mis compras</p>
                    <a href="#"><p> </p></a>
                </div>
                <div class="profile-content" id="profile-purchase">
                    <p>Hacé tu primera compra!</p>
                    <div class="compra-user">
                        <p>Nro compra (id compra)</p>
                        <p>Fecha compra</p>
                        <p>$Total compra</p>
                    </div>
                    <div class="compra-user">
                        <p>Nro compra (id compra)</p>
                        <p>Fecha compra</p>
                        <p>$Total compra</p>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <%- include('../partials/footer.ejs')%>
</body>
</html>