<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bisne macrame | HOME</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/login.css">
        <link rel="stylesheet" href="/css/signup.css">
    </head>
    <body>
        <%- include('../partials/header.ejs')%>
        <main>
            <%- include('../partials/sidebar.ejs')%>
            <div class="main-header">
                <p>Crea tu cuenta</p>
            </div>
            <div class="form">
                <form action="/users/signup" method="POST">
                    <div class="inputs">
                        <div class="input-box">
                            <input type="text" name="name" id="formName" placeholder="Nombre" class="<%= locals.errors && errors.name ? 'input-error' : ''  %>" value="<%= locals.oldData ? oldData.name : '' %>">
                            <% if (locals.errors && errors.name) { %>
                                <div class="text-error">
                                    <%= errors.name.msg %>
                                </div>
                            <% } %>
                        </div>
                        <div class="input-box">
                            <input type="text" name="lastName" id="formLastName" placeholder="Apellido" class="<%= locals.errors && errors.lastName ? 'input-error' : null  %>" value="<%= locals.oldData ? oldData.lastName : '' %>">
                            <% if (locals.errors && errors.lastName) { %>
                                <div class="text-error">
                                    <%= errors.lastName.msg %>
                                </div>
                            <% } %>
                        </div>
                        <div class="input-box">
                            <input type="email" id="email" name="email" placeholder="Email" class="<%= locals.errors && errors.email ? 'input-error' : ''  %>" value="<%= locals.oldData ? oldData.email : null %>">
                            <% if (locals.errors && errors.email) { %>
                                <div class="text-error">
                                    <%= errors.email.msg %>
                                </div>
                            <% } %>
                        </div>
                        <div class="input-box">
                            <input type="text" name="phoneNumber" id="formNumber" placeholder="Nro. de teléfono" class="<%= locals.errors && errors.phoneNumber ? 'input-error' : ''  %>" value="<%= locals.oldData ? oldData.phoneNumber : null %>">
                            <% if (locals.errors && errors.phoneNumber) { %>
                                <div class="text-error">
                                    <%= errors.phoneNumber.msg %>
                                </div>
                            <% } %>
                        </div>
                        <div class="input-box">
                            <input type="text" name="city" id="city" placeholder="Ciudad" class="<%= locals.errors && errors.city ? 'input-error' : ''  %>" value="<%= locals.oldData ? oldData.city : '' %>">
                            <% if (locals.errors && errors.city) { %>
                                <div class="text-error">
                                    <%= errors.city.msg %>
                                </div>
                            <% } %>
                        </div>
                        <div class="input-box">
                            <input type="text" name="address" id="address" placeholder="Dirección" class="<%= locals.errors && errors.address ? 'input-error' : ''  %>" value="<%= locals.oldData ? oldData.address : '' %>">
                            <% if (locals.errors && errors.address) { %>
                                <div class="text-error">
                                    <%= errors.address.msg %>
                                </div>
                            <% } %>
                        </div>
                        <div class="input-box">
                            <input type="password" id="password" name="password" placeholder="Contraseña" class="<%= locals.errors && errors.password ? 'input-error' : null  %>" value="<%= locals.oldData ? oldData.password : '' %>">
                            <% if (locals.errors && errors.password) { %>
                                <div class="text-error">
                                    <%= errors.password.msg %>
                                </div>
                            <% } %>
                        </div>
                        <div class="input-box">
                            <input type="password" id="passwordRepeat" name="passwordRepeat" placeholder="Repetir contraseña" class="<%= locals.errors && errors.passwordRepeat ? 'input-error' : ''  %>" value="<%= locals.oldData ? oldData.passwordRepeat : null %>">
                            <% if (locals.errors && errors.passwordRepeat) { %>
                                <div class="text-error">
                                    <%= errors.passwordRepeat.msg %>
                                </div>
                            <% } %>
                        </div>
                    </div>
                    <button type="submit">Crear tu cuenta</button>
                </form>
                <p>Ya tenes tu cuenta? Ingresa <a href="login">aquí</a>.</p>
            </div>
        </main>
        <%- include('../partials/footer.ejs')%>
        <script>
            function openNav() {
                document.getElementById("mySidebar").style.width = "300px";
                document.getElementByTagName("body").style.marginLeft = "300px";
            }

            function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            }

            const categoriasMenu = document.querySelector('.menu-item');
            const submenu = document.querySelector('.submenu');

            categoriasMenu.addEventListener('click', function() {
                categoriasMenu.classList.toggle('collapsed');
                submenu.style.display = submenu.style.display === 'none' ? 'block' : 'none';
            });

            categoriasMenu.addEventListener('click', function() {
                categoriasMenu.classList.toggle('open');
                submenu.style.display = categoriasMenu.classList.contains('open') ? 'block' : 'none';
                });
        </script>
        <script src="/js/signUp-validations.js"></script>
    </body>
</html>